{% import_yaml 'files/var/lib/pgsql/10/data/defaults.yml' as defaults %}
{% set hbas = defaults.hbas %}
{% set configs = defaults.configs %}
{% set idents = salt.pillar.get('pgsql:idents',[]) %}
{% if salt.pillar.get('pgsql:slsconf:overwrite_hbas', False) %}
  {% set hbas = salt.pillar.get('hbas',[]) %}
{% else %}
  {% do hbas.append(salt.pillar.get('pgsql:hbas',[])) %}
{% endif %}
{% if salt.pillar.get('pgsql:slsconf:overwrite_conf', False) %}
  {% set configs = salt.pillar.get('pgsql:configs',{}) %}
{% else %}
  {% do salt.defaults.merge(configs,salt.pillar.get('pgsql:configs',{})) %}
{% endif %}
