{% import_yaml 'files/etc/pdns-recursor/defaults.yml' as defaults %}
{% set configs = defaults.configs %}
{% if salt.pillar.get('pdns:slsconf:overwrite_conf', False) %}
  {% set configs = salt.pillar.get('pdns:configs',{}) %}
{% else %}
  {% do salt.defaults.merge(configs,salt.pillar.get('pdns:configs',{})) %}
{% endif %}
